# Ignore the miniconda.sh installer script
miniconda.sh
.idea/*
.vscode/*
.env
**/temp/
*.tmp
.venv
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
*.egg
*.log
*.DS_Store
*.coverage
*.cover
*.hypothesis/
*.tox
*.mypy_cache
*.pytest_cache
*.coverage.*
*.pdb
*.ipynb_checkpoints
